<div class="navbar-auth navbar-background">
    @if(!string.IsNullOrEmpty(Model.NameGroup))
    {
        @if (Model.IsAuthorized)
        {
            <img class="auth-img" src="@Model.ImageUrl" />
            <p class="text-center text-success">Using group <br /> @Model.NameGroup</p>
        }
        else
        {
            <img class="auth-img" src="img/NotAuthorized.png" />
            <a href="" class="text-center text-danger">@Model.NameGroup</a>
        }
    }
    else
    {
        <img class="auth-img" src="img/NotAuthorized.png" />
        <p class="text-center text-success">Try to authorize...</p>
    }
</div>