@page "/createposts"

<h3>CreatePosts</h3>

@if(scheduleData?.Schedule.Count == 0)
{
    <p>NO DATA</p>
}
else
{
     @foreach (var item in scheduleData.Schedule)
    {
        <p>@item.TitleRomaji</p> <br />
    }
}