@page "/"
@inject IScheduleViewModel viewModel

<PageTitle>Schedule</PageTitle>

<div class="row p-2 gx-2" style="height: 40px;">
    <div class="col-4 d-flex flex-row justify-content-start gap-2">
        <EditForm Model="@viewModel">
            <InputDate class="form-control" @bind-Value="viewModel.DateInput"/>
        </EditForm>

        <button class="btn btn-primary" @onclick="viewModel.GetSchedule">Get</button>
    </div>

    <div class="col-4 d-flex justify-content-center">
        <button class="btn btn-primary" @onclick="viewModel.Generate">Generate Image</button>
    </div>

     <div class="col-4 d-flex justify-content-end gap-2">
         <EditForm Model="@viewModel">
            <InputText class="form-control" placeholder="ID or Title from shikimori" @bind-Value="viewModel.ShikimoriInput"/>
         </EditForm>

        <button @onclick="viewModel.AddItem" class="btn btn-primary">Add</button>
        <button @onclick="viewModel.Sort" class="btn btn-primary">Sort</button>
    </div>
</div>

<div class="row justify-content-center my-3">
    <AniLifeSchedule.Components.ScheduleComponent Models="@viewModel.Models" OnGetRussianTitle="@viewModel.GetRussianTitle"/>
</div>

<div class="row">
    <img src="data:image/jpeg;base64,@viewModel.OutputImageData"/>
</div>