$color-primary: rgb(4, 122, 237);
$color-primary-hover: rgb(3, 91, 177);
$color-secondary: #98A2B3;
$color-danger:    #BB251A;
$color-warning:   #DC6803;
$color-success:   #039855;
$color-info:      #1465B4;

$border-radius: 5px;